<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Admin - Detail hry')">
</head>
<body>
<div th:insert="fragments/header :: header('ADMIN', 0)"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <h1 class="login-form-header">Pochod okolo Polanky - ADMIN</h1>
            <h1 >Detaily hry</h1>
            <form action="#" th:action="@{/admin/game/update}" th:object="${gameInfoDto}" method="post">
                <div class="form-group">
                    <input id="id" class="form-control" type="text" th:field="*{id}" hidden/>
                    <p class="error" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Chyba - Jméno
                    </p>
                </div>
                <div class="form-group">
                    <label for="startGame" class="input-value-required">Odemčení aplikace</label>
                    <input id="startGame" class="form-control" type="datetime-local" th:field="*{startGame}" required/>
                    <p class="error" th:if="${#fields.hasErrors('startGame')}" th:errors="*{startGame}">Chyba - startGame
                    </p>
                </div>
                <div class="form-group">
                    <label for="endGame" class="input-value-required">Zamknutí sběru razítek</label>
                    <input id="endGame" class="form-control" type="datetime-local" th:field="*{endGame}" required/>
                    <p class="error" th:if="${#fields.hasErrors('endGame')}" th:errors="*{endGame}">Chyba - endGame
                    </p>
                </div>
                <div class="form-group">
                    <label for="partners" class="input-value-required">Partneři</label>
                    <p><small>Pro oddělení jednotlivých názvů použij středník (;)</small></p>
                    <textarea id="partners" class="form-control" th:field="*{partners}" required></textarea>
                    <p class="error" th:if="${#fields.hasErrors('partners')}" th:errors="*{partners}">Chyba - partners
                    </p>
                </div>
                <div class="form-group">
                    <label for="mapUrl" class="input-value-required">Odkaz na mapu</label>
                    <textarea id="mapUrl" class="form-control" th:field="*{mapUrl}" required></textarea>
                    <p class="error" th:if="${#fields.hasErrors('mapUrl')}" th:errors="*{mapUrl}">Chyba - mapUrl
                    </p>
                </div>
                <button type="submit" class="btn btn-primary">Uložit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
