<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Admin - Detail hráče')">
</head>
<body>
<div th:insert="fragments/header :: header('ADMIN', 0)"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <h1 class="login-form-header">Pochod okolo Polanky - ADMIN</h1>
            <h1 th:text="${player.nickname}">Hrac</h1>
            <h2>Počet razítek</h2>
            <p th:text="${stamps}"></p>
            <form action="#" th:action="@{/admin/players/update}" th:object="${playerAdminDTO}" method="post">
                <div class="form-group">
                    <label for="id" class="input-value-required">Id</label>
                    <input id="id" class="form-control" type="text" th:field="*{id}" readonly/>
                    <p class="error" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Chyba - Jméno
                    </p>
                </div>
                <div class="form-group">
                    <label for="nickname" class="input-value-required">Uživatelské jméno</label>
                    <input id="nickname" class="form-control" type="text" th:field="*{nickname}" required/>
                    <p class="error" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Chyba - Jméno
                    </p>
                </div>
                <div class="form-group">
                    <label for="email" class="input-value-required">E-mail</label>
                    <input id="email" class="form-control" type="email" th:field="*{email}" required/>
                    <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Chyba - Email
                    </p>
                </div>
                <div class="form-group">
                    <label for="pin" class="input-value-required">PIN</label>
                    <input id="pin" class="form-control" type="number" th:field="*{pin}" required/>
                    <p class="error" th:if="${#fields.hasErrors('pin')}" th:errors="*{pin}">Chyba - Pin
                    </p>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="login-form-label">Telefon</label>
                    <input id="phoneNumber" class="form-control" type="number" th:field="*{phoneNumber}"/>
                    <p class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Chyba - Telefon
                    </p>
                </div>
                <button type="submit" class="btn btn-primary">Upravit</button>
            </form>
            <div>
                <a class="btn btn-secondary" href="#" th:href="@{/admin/players/delete/{id}(id=${player.id})}"
                   th:attr="onclick='return confirm(\'' + 'Opravdu chcete smazat hráče ' + ${player.nickname} + '?' + '\');'">
                    Smazat
                </a>
            </div>
            <br>
            <a href="#" class="btn btn-primary" th:href="@{/successfulLogin}">Domů</a>
        </div>
    </div>
</div>
</body>
</html>
