<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Admin - hráči')">
</head>
<body>
<div th:insert="fragments/header :: header('ADMIN', 0)"></div>
<div class="container">
    <div class="row">
        <h1 class="login-form-header">Pochod okolo Polanky - ADMIN</h1>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <h2>Nový hráč</h2>
            <form action="#" th:action="@{/admin/players/create}" th:object="${registrationDto}" method="post">
                <div class="form-group">
                    <label for="nickName" class="input-value-required">Uživatelské jméno</label>
                    <input id="nickName" class="form-control" type="text" th:field="*{nickName}" required/>
                    <p class="error" th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}">Chyba - Jméno
                    </p>
                </div>
                <div class="form-group">
                    <label for="email" class="input-value-required">E-mail</label>
                    <input id="email" class="form-control" type="email" th:field="*{email}" required/>
                    <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Chyba - Email
                    </p>
                </div>
                <div class="form-group">
                    <label for="pin" class="input-value-required">PIN</label>
                    <input id="pin" class="form-control" type="number" th:field="*{pin}" required/>
                    <p class="error" th:if="${#fields.hasErrors('pin')}" th:errors="*{pin}">Chyba - Pin
                    </p>
                </div>
                <div class="form-group">
                    <label for="phone" class="input-value-required">Telefon</label>
                    <input id="phone" class="form-control" type="number" th:field="*{phone}" required/>
                    <p class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Chyba - Telefon
                    </p>
                </div>
                <button type="submit" class="btn btn-primary">Vytvořit</button>
            </form>
        </div>
    </div>

    <div class="row cypher-list">
        <div class="col-sm-12">
            <h2>Hráči</h2>
            <th:block th:each="player : ${allPlayers}">
            <div class="cypher">
                <a th:href="@{/admin/players/{id}(id=${player.id})}">
                    <div class="row align-items-center">
                        <div class="col" th:text="|${player.id}. ${player.nickname}|">1. U zeleného háje</div>
                        <div class="col" th:text="${player.stamps.size()}">
                        </div>
                    </div>
                </a>
            </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>
