<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Admin - Detail stanoviště')">
</head>
<body>
<div th:insert="fragments/header :: header('ADMIN', 0)"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <h1 class="login-form-header">Pochod okolo Polanky - ADMIN</h1>
            <h1 th:text="${stage.name}">1. Stanoviště</h1>
            <h2>Počet razítek</h2>
            <p th:text="${stamps}"></p>
            <h2>QR code</h2>
            <img class="img-billy" th:src="${qrCode}" />
            <form action="#" th:action="@{/admin/stages/update}" th:object="${stageAdminDTO}" method="post">
                <div class="form-group">
                    <label for="id" class="input-value-required">Id</label>
                    <input id="id" class="form-control" type="text" th:field="*{id}" readonly/>
                    <p class="error" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Chyba - id
                    </p>
                </div>
                <div class="form-group">
                    <label for="name" class="input-value-required">Název</label>
                    <input id="name" class="form-control" type="text" th:field="*{name}" required/>
                    <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Chyba - Jméno
                    </p>
                </div>
                <div class="form-group">
                    <label for="number" class="input-value-required">Číslo</label>
                    <input id="number" class="form-control" type="number" th:field="*{number}" required/>
                    <p class="error" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Chyba - Number
                    </p>
                </div>
                <div class="form-group">
                    <label for="location" class="input-value-required">GPS</label>
                    <input id="location" class="form-control" type="text" th:field="*{location}" required/>
                    <p class="error" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Chyba - Location
                    </p>
                </div>
                <div class="form-group">
                    <label for="pin" class="input-value-required">PIN</label>
                    <input id="pin" class="form-control" type="text" th:field="*{pin}" required/>
                    <p class="error" th:if="${#fields.hasErrors('pin')}" th:errors="*{pin}">Chyba - Pin
                    </p>
                </div>
                <div class="form-group">
                    <label for="year" class="login-form-label">Ročník</label>
                    <input id="year" class="form-control" th:field="*{year}" type="number" required></input>
                    <p class="error" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Chyba - Ročník
                    </p>
                </div>
                <div class="form-group">
                    <label for="distance" class="login-form-label">Vzdálenost od začátku (km)</label>
                    <input id="distance" class="form-control" th:field="*{distance}" type="number" step="0.01"></input>
                    <p class="error" th:if="${#fields.hasErrors('distance')}" th:errors="*{distance}">Chyba - Vzdálenost
                    </p>
                </div>
                <div class="form-group">
                    <p><small>Například: color: black; (;) taky!</small></p>
                    <label for="color" class="input-value-required">Barva razítka</label>
                    <textarea id="color" class="form-control" type="" th:field="*{color}"></textarea>
                    <p class="error" th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Chyba - Barva
                    </p>
                </div>
                <div class="form-group">
                    <p><small>Pro oddělení řádků použij středník (;)</small></p>
                    <label for="info" class="login-form-label">Info</label>
                    <textarea id="info" class="form-control" th:field="*{info}" rows="10" maxlength="1000"></textarea>
                    <p class="error" th:if="${#fields.hasErrors('info')}" th:errors="*{info}">Chyba - Info
                    </p>
                </div>
                <button type="submit" class="btn btn-primary">Upravit</button>
            </form>
            <div>
                <a class="btn btn-secondary" href="#" th:href="@{/admin/stages/delete/{id}(id=${stage.id})}"
                   th:attr="onclick='return confirm(\'' + 'Opravdu chcete smazat stanoviště ' + ${stage.name} + '?' + '\');'">
                    Smazat
                </a>
            </div>
            <br>
            <a href="#" class="btn btn-primary" th:href="@{/successfulLogin}">Domů</a>
        </div>
    </div>
</div>
</body>
</html>
