<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Admin - stanoviště')">
</head>
<body>
<div th:insert="fragments/header :: header('ADMIN', 0)"></div>
<div class="container">
    <div class="row">
        <h1 class="login-form-header">Pochod okolo Polanky - ADMIN</h1>
    </div>
    <div class="row" th:if="${newStage == true}">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <h2>Nové stanoviště</h2>
            <form action="#" th:action="@{/admin/stages/create}" th:object="${stageCreationDTO}" method="post">
                <div class="form-group">
                    <label for="number" class="input-value-required">Číslo</label>
                    <input id="number" class="form-control" type="number" th:field="*{number}" required/>
                    <p class="error" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Chyba - číslo stanoviště
                    </p>
                </div>
                <div class="form-group">
                    <label for="name" class="input-value-required">Název</label>
                    <input id="name" class="form-control" type="text" th:field="*{name}" required/>
                    <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Chyba - Jméno
                    </p>
                </div>
                <div class="form-group">
                    <label for="pin" class="input-value-required">Heslo</label>
                    <input id="pin" class="form-control" type="text" th:field="*{pin}" required/>
                    <p class="error" th:if="${#fields.hasErrors('pin')}" th:errors="*{pin}">Chyba - Heslo
                    </p>
                </div>
                <div class="form-group">
                    <label for="location" class="input-value-required">GPS souřadnice</label>
                    <input id="location" class="form-control" type="text" th:field="*{location}" required/>
                    <p class="error" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Chyba - GPS
                    </p>
                </div>
                <div class="form-group">
                    <label for="year" class="login-form-label">Ročník</label>
                    <input id="year" class="form-control" th:field="*{year}" type="number" required></input>
                    <p class="error" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Chyba - Ročník
                    </p>
                </div>
                <div class="form-group">
                    <label for="distance" class="login-form-label">Vzdálenost od začátku (km)</label>
                    <input id="distance" class="form-control" th:field="*{distance}" type="number" required></input>
                    <p class="error" th:if="${#fields.hasErrors('distance')}" th:errors="*{distance}">Chyba - Vzdálenost
                    </p>
                </div>
                <div class="form-group">
                    <p><small>Například: color: black; (;) taky!</small></p>
                    <label for="color" class="input-value-required">Barva razítka</label>
                    <textarea id="color" class="form-control" type="" th:field="*{color}"></textarea>
                    <p class="error" th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Chyba - Barva
                    </p>
                </div>
                <div class="form-group">
                    <label for="info">Info</label>
                    <textarea id="info" class="form-control" type="" rows="10" maxlength="1000" th:field="*{info}"></textarea>
                    <p class="error" th:if="${#fields.hasErrors('info')}" th:errors="*{info}">Chyba - Informace
                    </p>
                </div>
                <button type="submit" class="btn btn-primary">Vytvořit</button>
            </form>
        </div>
    </div>
    <div class="row cypher-list" th:unless="${newStage == true}">
        <div class="col-sm-12">
            <a class="btn btn-primary" th:href="@{/admin/stages/new}">Nové stanoviště</a>
        </div>
    </div>

    <div class="row cypher-list" th:unless="${newStage == true}">
        <div class="col-sm-12">
            <h2>Stanoviště</h2>
            <th:block th:each="stage : ${allStages}">
            <div class="cypher">
                <a th:href="@{/admin/stages/{id}(id=${stage.id})}">
                    <div class="row align-items-center">
                        <div class="col" th:text="${stage.name}">1. U zeleného háje</div>
                    </div>
                </a>
            </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>
