<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="map(mapUrl, year)">
    <br>
    <th:block th:if="${mapUrl} != null">
        <a th:href="${mapUrl}" target="_blank">
            <img th:src="|/img/${year}/PoP_${year}.jpg|" alt="PoP" class="img-billy"/>
        </a>
    </th:block>
    <th:block th:if="${mapUrl} == null">
        <img th:src="|/img/${year}/PoP_${year}.jpg|" alt="PoP" class="img-billy"/>
    </th:block>
    <br>
</div>
</body>
</html>