<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="popHeader(id, name, stamps)">
    <nav class="navbar navbar-default navbar-grey">
        <div class="navbar-content">
            <a th:href="@{/successfulLogin}">
                <p class="team-name" th:text="${id}">1200</p>
                <p class="team-name" th:text="${name}">Franta Kůrka</p>
                <div th:unless="${stamps==0}">
                    <i class="fas fa-beer-mug-empty" th:each="stamp:${#numbers.sequence(1, stamps)}"></i>
                </div>
            </a>
        </div>
        <div>
            <a class="nav-link" href="javascript: document.logoutForm.submit()"
               th:attr="onclick='return confirm(\'' + 'Opravdu se chcete odhlásit?' + '\');'">Odhlásit se</a>

            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>
        </div>
    </nav>
</div>
</body>
</html>