<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Pop 2024')">
</head>
<body>
    <div th:insert="fragments/pop-header :: popHeader(${player.id}, ${player.nickname}, ${stamps})"></div>
    <div th:insert="fragments/endWarning :: endWarning(${hasGameEnded}, ${gameEndedTime}, ${isEndWarningActive})"></div>
    <div th:insert="fragments/pop-title :: popTitle()"></div>
    <div class="container">
        <div class="row cypher-list">
            <div class="col-sm-12">
                <h2>Feedback</h2>
                <form action="#" th:action="@{/pop/feedback}" th:object="${feedbackDTO}" method="post">
                    <div class="form-group">
                        <input id="playerId" class="form-control" th:field="*{playerId}" hidden/>
                    </div>
                    <div class="form-group">
                        <label for="text" class="input-value-required">Co bych vylepšil? Co se mi líbilo?</label>
                        <textarea id="text" class="form-control" th:field="*{text}" maxlength="3999" required></textarea>
                        <p class="error" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Chyba - text
                        </p>
                    </div>
                    <button type="submit" class="btn btn-primary">Odeslat</button>
                </form>
                <a href="#" class="btn btn-primary" th:href="@{/successfulLogin}">Domů</a>
            </div>
        </div>
        <div class="row cypher-list" th:unless="${playersFeedbacks.empty}">
            <div class="col-sm-12">
                <h2>Odelsané</h2>
                <th:block th:each="feedback : ${playersFeedbacks}">
                    <div class="cypher">
                        <div class="row align-items-center">
                            <div class="col" th:text="${feedback.text}">1. U zeleného háje</div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</body>
<footer>
    <div th:insert="fragments/pop-footer :: popFooter()"></div>
</footer>
</html>
