<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Pop 2023')">
</head>
<body>
<div th:insert="fragments/pop-header :: popHeader(${player.id}, ${player.nickname}, ${stamps})"></div>
<div th:insert="fragments/endWarning :: endWarning(${hasGameEnded}, ${gameEndedTime}, ${isEndWarningActive})"></div>
<div class="container">
    <div class="row cypher-list">
        <div class="col-sm-12">
            <h1 class="login-form-header">Pochod okolo Polanky</h1>
            <h1>Stanoviště</h1>
            <th:block th:each="stage : ${allStages}">
                <div class="cypher">
                    <a th:href="@{/pop/stages/{id}(id=${stage.id})}">
                        <div class="row align-items-center">
                            <div class="col" th:text="|${stage.number}. ${stage.name}|">1. U zeleného háje</div>
                            <div th:if="${stampsMap.get(stage.number).taken == true}" class="col status">
                                <i class="fas fa-beer-mug-empty"></i>
                                <span th:text="${#temporals.format(stampsMap.get(stage.number).time, 'HH:mm')}"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </th:block>
            <div th:insert="fragments/mapPicture :: map(${mapUrl})"></div>
            <a href="#" class="btn btn-primary" th:href="@{/successfulLogin}">Domů</a>
        </div>
    </div>
</div>
</body>
</html>
