<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Pop 2024')">
</head>
<body>
    <div th:insert="fragments/pop-header :: popHeader(${player.id}, ${player.nickname}, ${stamps})"></div>
    <div th:insert="fragments/endWarning :: endWarning(${hasGameEnded}, ${gameEndedTime}, ${isEndWarningActive})"></div>
    <div th:insert="fragments/pop-title :: popTitle()"></div>
    <div class="container">
        <div class="row cypher-list">
            <div class="col-sm-12">
                <h2>Stanoviště</h2>
                <div>
                    <p th:unless="${stamps == allStagesCount}">Po získání všech razítek budeš zařazen/a do slosování o tombolu.</p>
                    <p th:if="${stamps == allStagesCount}">Jsi zařazen/a do slosování o tombolu.</p>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-red-progressbar" role="progressbar"
                         aria-valuemin="0" aria-valuemax="100"
                         th:style="'width:' + ( ${allStagesCount} == 0  ? '0' : (${stamps * 1.0} / ${allStagesCount}) * 100.0 ) + '%;'"
                         th:text="|${stamps} / ${allStagesCount}|">
                    </div>
                </div>

                <!-- Stages area -->
                <th:block th:each="stage : ${allStages}">
                    <div class="cypher">
                        <a th:href="@{/pop/stages/{id}(id=${stage.id})}">
                            <div class="row align-items-center">
                                <div class="col" th:text="${stage.name}">1. U zeleného háje</div>
                                <th:block th:if="${stampsMap.get(stage.number).taken == true}">
                                    <div class="col status" th:style="${stage.color}">
                                        <i class="fas fa-beer-mug-empty"></i>
                                        <span th:text="${#temporals.format(stampsMap.get(stage.number).time, 'HH:mm')}"></span>
                                    </div>
                                    <div class="col status" th:style="${stage.color}">
                                        <span th:text="|${stage.distance} km|"></span>
                                    </div>
                                </th:block>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="row cypher-list">
            <div class="col-sm-12">
                <a th:if="${stamps == allStagesCount}" class="btn btn-primary btn-square-md" th:href="@{/pop/diplom}">Stáhnout diplom</a>
                <div th:insert="fragments/mapPicture :: map(${mapUrl})"></div>
                <a href="#" class="btn btn-primary" th:href="@{/successfulLogin}">Domů</a>
            </div>
        </div>
    </div>
</body>
<footer>
    <div th:insert="fragments/pop-footer :: popFooter()"></div>
</footer>
</html>
