<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Pop 2022')">
</head>
<body>
<div th:insert="fragments/header :: header(${player.nickname}, ${stamps})"></div>
<div class="container">
    <div class="row cypher-list">
        <div class="col-sm-12">
            <h1 class="login-form-header">Pochod okolo Polanky</h1>
            <h1>Stanoviště</h1>
            <th:block th:each="stage : ${allStages}">
                <div class="cypher">
                    <a th:href="@{/pop/stages/{id}(id=${stage.id})}">
                        <div class="row align-items-center">
                            <div class="col" th:text="|${stage.number}. ${stage.name}|">1. U zeleného háje</div>
                            <div th:if="${stampsMap.get(stage.number).taken == true}" class="col status">
                                <i class="fas fa-beer-mug-empty"></i>
                                <span th:text="${#temporals.format(stampsMap.get(stage.number).time, 'HH:mm')}"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </th:block>
            <a href="#" class="btn btn-primary" th:href="@{/successfulLogin}">Domů</a>
            <br>
            <br>
            <a href="https://www.google.com/maps/d/edit?mid=1EUxNrSGuEJpXkqbyiNw9e9jHztTTpHc&usp=sharing" target="_blank">
                <img src="/img/2022/PoP_2022.jpg" alt="PoP 2022" class="img-billy"/>
            </a>
            <a class="btn btn-secondary btn-square-md" href="/files_trasa/PoP_2022_Google.kml">Stažení souboru KML (Google)</a>
            <a class="btn btn-secondary btn-square-md" href="/files_trasa/PoP_2022_Google.kmz">Stažení souboru KMZ (Google)</a>
            <a class="btn btn-secondary btn-square-md" href="/files_trasa/mapy_cz.gpx">Stažení souboru GPX (Mapy.cz)</a>
        </div>
    </div>
</div>
</body>
</html>
