<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('2024')">
</head>
<body>
    <div th:insert="fragments/pop-header :: popHeader(${player.id}, ${player.nickname}, ${stamps})"></div>
    <div th:insert="fragments/endWarning :: endWarning(${hasGameEnded}, ${gameEndedTime}, ${isEndWarningActive})"></div>
    <div th:insert="fragments/pop-title :: popTitle(2024)"></div>
    <div class="container">
        <div class="row cypher-list">
            <div class="col-sm-12">
                <h2>Mapa</h2>
                <div th:insert="fragments/mapPicture :: map(${mapUrl}, 2024)"></div>
                <div th:insert="fragments/openMapButton :: openMapButton(${mapUrl})"></div>
                <br>
                <div th:insert="fragments/mapFiles :: mapFiles(2024)"></div>
                <br>
                <br>
                <a href="#" class="btn btn-primary" th:href="@{/successfulLogin}">Domů</a>
            </div>
        </div>
    </div>
</body>
<footer>
    <div th:insert="fragments/pop-footer :: popFooter()"></div>
</footer>
</html>
