<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Pop 2024')">
</head>
<body>
    <div th:insert="fragments/pop-header :: popHeader(${player.id}, ${player.nickname}, ${stamps})"></div>
    <div th:insert="fragments/endWarning :: endWarning(${hasGameEnded}, ${gameEndedTime}, ${isEndWarningActive})"></div>
    <div th:insert="fragments/pop-title :: popTitle()"></div>
    <div class="container">
        <div class="row cypher-list">
            <div class="col-sm-12">
                <h2>Mapa</h2>
                <div th:insert="fragments/mapPicture :: map(${mapUrl})"></div>
                <div th:insert="fragments/openMapButton :: openMapButton(${mapUrl})"></div>
                <br>
                <a class="btn btn-secondary btn-square-md" href="/files_trasa/2023/PoP_2023.kml">Stažení souboru KML (Google)</a>
                <a class="btn btn-secondary btn-square-md" href="/files_trasa/2023/PoP_2023.kmz">Stažení souboru KMZ (Google)</a>
                <a class="btn btn-secondary btn-square-md" href="/files_trasa/2023/PoP_2023.gpx">Stažení souboru GPX (Mapy.cz)</a>
                <br>
                <br>
                <a href="#" class="btn btn-primary" th:href="@{/successfulLogin}">Domů</a>
            </div>
        </div>
    </div>
</body>
<footer>
    <div th:insert="fragments/pop-footer :: popFooter()"></div>
</footer>
</html>
