<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Pop 2023')">
</head>
<body>
    <div th:insert="fragments/pop-header :: popHeader(${player.id}, ${player.nickname}, ${stamps})"></div>
    <div th:insert="fragments/endWarning :: endWarning(${hasGameEnded}, ${gameEndedTime}, ${isEndWarningActive})"></div>
    <div th:insert="fragments/pop-title :: popTitle()"></div>
    <div class="container">
        <div class="col-sm-12">
            <h2>Naši partneři</h2>
            <br>
        </div>
        <div class="row cypher-list">
            <div class="col-sm-12">
                <div class="center-elements">
                    <th:block th:each="partner : ${partners}">
                        <p class="col-centered" th:text="${partner}">Partneři</p>
                    </th:block>
                    <a href="#" class="btn btn-primary" th:href="@{/successfulLogin}">Domů</a>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div th:insert="fragments/pop-footer :: popFooter()"></div>
</footer>
</html>
