<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Pop 2023')">
</head>
<body>
    <div th:insert="fragments/header :: header(|${player.id} ${player.nickname}|, ${stamps})"></div>
    <div th:insert="fragments/endWarning :: endWarning(${hasGameEnded}, ${gameEndedTime}, ${isEndWarningActive})"></div>
    <div class="container">
        <div class="row cypher-list">
            <div class="col-sm-12">
                <h1 class="login-form-header">Pochod okolo Polanky</h1>
                <img src="/img/bota-large.jpg" alt="PoP" class="img-billy"/>
            </div>
        </div>
        <div class="row cypher-list">
            <div class="center-elements">
                <h2 class="col-centered">Naši partneři</h2>
                <th:block th:each="partner : ${partners}">
                    <p class="col-centered" th:text="${partner}">Partneři</p>
                </th:block>
                <a href="#" class="btn btn-primary" th:href="@{/successfulLogin}">Domů</a>
            </div>
        </div>
    </div>
</body>
</html>
