<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Pop 2022')">
</head>
<body>
    <div th:insert="fragments/header :: header(${player.nickname}, ${stamps})"></div>

    <div class="container">
        <div class="row cypher-list">
            <div class="col-sm-12">
                <h1 class="login-form-header">Pochod okolo Polanky</h1>
                <img src="/img/bota-large.jpg" alt="PoP 2022" class="img-billy"/>
            </div>
        </div>
        <div class="row cypher-list">
            <div class="col-sm-4 center-elements">
                <h2>Naši partneři</h2>
                <p th:text="${partners}">Partneři</p>
            </div>
        </div>
    </div>
</body>
</html>
