<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('PoP 2022 - Můj postup')">
</head>

<body>
<div th:insert="fragments/header :: header(${player.nickname}, ${stamps})"></div>
<!--    <div th:unless="${newMessages.empty}" th:insert="client/fragments/message-box :: messageBox(${newMessages})"></div>-->
<div class="container">
    <div class="row cypher-list">
        <div class="col-sm-12">
            <h1 class="login-form-header">Pochod okolo Polanky</h1>
            <h1>Můj postup</h1>
            <div>
                <img src="/img/ikonka-large_3.jpg" alt="PoP 2022" class="img-billy"/>
            </div>
            <a class="btn btn-primary" th:href="@{'/pop/stages'}" role="button">Zpátky na přehled</a>
            <a class="btn btn-primary btn-square-md" href="https://mapy.cz/s/mosemaduhu" target="_blank">Mapa 2022</a>
        </div>
    </div>
</div>
</body>
</html>