<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('PoP 2023')">
</head>

<body>
<div th:insert="fragments/pop-header :: popHeader(${player.id}, ${player.nickname}, ${stamps})"></div>
<div th:insert="fragments/endWarning :: endWarning(${hasGameEnded}, ${gameEndedTime}, ${isEndWarningActive})"></div>
<div class="container">
    <div class="row cypher-list">
        <div class="col-sm-12">
            <h1 class="login-form-header">Pochod okolo Polanky</h1>
            <h1 style="text-align: center" th:text="|Máš ${stamps} z ${allStagesCount} razítek.|"></h1>
            <p th:if="${stamps} == ${allStagesCount}">Jsi zařazen/a do slosování o tombolu.</p>
            <p th:unless="${stamps} == ${allStagesCount}">Po získaní všech razítek budeš zařazen/a do slosování o tombolu.</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-dark" role="progressbar"
                     aria-valuemin="0" aria-valuemax="100"
                     th:style="'width:' + ( ${allStagesCount} == 0  ? '0' : (${stamps * 1.0} / ${allStagesCount}) * 100.0 ) + '%;'"
                     th:text="|${stamps} / ${allStagesCount}|">
                </div>
            </div>
            <br>
            <br>
            <a href="#" class="btn btn-primary" th:href="@{/successfulLogin}">Domů</a>
        </div>
    </div>
</div>
</body>
</html>