<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('PoP - Stanoviště')">
</head>

<body>
<div th:insert="fragments/pop-header :: popHeader(${player.id}, ${player.nickname}, ${stamps})"></div>
<div th:insert="fragments/endWarning :: endWarning(${hasGameEnded}, ${gameEndedTime}, ${isEndWarningActive})"></div>
<div class="container">
    <div class="row cypher-list">
        <div class="col-sm-12">
            <h1 class="login-form-header">Pochod okolo Polanky</h1>
            <h1 th:text="|${stage.number}. ${stage.name}|">1. Stanoviště</h1>
            <div th:if="${stamp.taken == false}">
                <a class="btn btn-primary" th:href="@{/pop/stamp}" role="button">Získat razítko</a>
            </div>
            <div th:if="${stamp.taken == true}">
                <h2>Razítko je v kapse!</h2>
                <p th:text="|Čas: ${#temporals.format(stamp.time, 'HH:mm')}|"></p>
                <img src="/img/beer_full.png" alt="PoP" class="img-billy"/>
            </div>
            <h2>Popis</h2>
            <th:block th:each="info : ${stage.info}">
                <p th:text="${info}">Info</p>
            </th:block>
            <h2>GPS souřdnice</h2>
            <p th:text="|${stage.location.x}E, ${stage.location.y}N|">18.0342303E, 49.2673764N</p>
            <a href="#" class="btn btn-primary" th:href="@{/successfulLogin}">Domů</a>
        </div>
    </div>
</div>
</body>
</html>