<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('PoP - Razítko')">
</head>

<body>
    <div th:insert="fragments/pop-header :: popHeader(${player.id}, ${player.nickname}, ${stamps})"></div>
    <div th:insert="fragments/endWarning :: endWarning(${hasGameEnded}, ${gameEndedTime}, ${isEndWarningActive})"></div>
    <div th:insert="fragments/pop-title :: popTitle()"></div>
    <div class="container">
        <div class="row cypher-list">
            <div class="col-sm-12">
                <h2>Získat razítko</h2>
                <div>
                    <script th:src="@{/js/qr-scanner-script.js}"></script>
                    <div class="col">
                        <div class="scanner" id="reader"></div>
                    </div>
                    <script type="text/javascript" th:inline="javascript">
                        var playerId = [[${player.id}]]
                        function onScanSuccess(qrCodeMessage) {
                            location.replace("/pop/progress2");
                            alert('Skenování proběhlo úspěšně. QR kód se ověřuje.')
                            submitStamp(playerId, qrCodeMessage)
                        }
                        function onScanError(errorMessage) {
                            // alert('Skenování se nezdařilo.')
                        }

                        const html5QrCode = new Html5Qrcode(/* element id */ "reader");
                        const config = { fps: 10, qrbox: { width: 250, height: 250 } };
                        html5QrCode.start({ facingMode: "environment" }, config, onScanSuccess);
                    </script>
                </div>
                <p>Jak na to?</p>
                <p>1. Povol používání kamery na zařízení</p>
                <p>2. Zaměř QR kód a počkej na upozornění z aplikace</p>
                <a href="#" class="btn btn-primary" th:href="@{/successfulLogin}">Domů</a>
            </div>
        </div>
    </div>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script th:src="@{/js/submit-stamp-script.js}"></script>

</body>
<footer>
    <div th:insert="fragments/pop-footer :: popFooter()"></div>
</footer>
</html>