<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('PoP - Razítko')">
</head>

<body>
<div th:insert="fragments/header :: header(${player.nickname}, ${player.stamps?.size()})"></div>
<div class="container">
    <div class="row cypher-list">
        <div class="col-sm-12">
            <h1 class="login-form-header">Pochod okolo Polanky</h1>
            <h1 th:text="|${stage.number}. ${stage.name}|">1. Stanoviště</h1>
            <div>
                <script th:src="@{/js/qr-scanner-script.js}"></script>
                <div class="col">
                    <div class="scanner" id="reader"></div>
                </div>
                <script type="text/javascript" th:inline="javascript">
                    var playerId = [[${player.id}]]
                    var stageId = [[${stage.id}]]
                    function onScanSuccess(qrCodeMessage) {
                        submitStamp(playerId, stageId, qrCodeMessage)
                        alert('Skenování proběhlo úspěšně. Razítko bylo zaregistrováno.')
                        location.replace("/pop/stages");
                        // document.getElementById('result').innerHTML = '<span class="result">'+qrCodeMessage+'</span>';

                    }
                    function onScanError(errorMessage) {
                        // alert('Skenování se nezdařilo.')
                    }
                    var html5QrcodeScanner = new Html5QrcodeScanner(
                        "reader", { fps: 10, qrbox: 250 });
                    html5QrcodeScanner.render(onScanSuccess, onScanError);
                </script>
            </div>
            <a class="btn btn-primary" th:href="@{/pop/stages}" role="button">Zpátky na přehled</a>
            <a class="btn btn-primary btn-square-md" href="https://mapy.cz/s/mosemaduhu" target="_blank">Mapa 2022</a>
        </div>
    </div>
</div>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script th:src="@{/js/submit-stamp-script.js}"></script>

</body>
</html>