<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Pop 2024')">
</head>
<body>
    <div th:insert="fragments/pop-header :: popHeader(${player.id}, ${player.nickname}, ${stamps})"></div>
    <div th:insert="fragments/endWarning :: endWarning(${hasGameEnded}, ${gameEndedTime}, ${isEndWarningActive})"></div>
    <div th:insert="fragments/pop-title :: popTitle()"></div>
    <div class="container">
        <div class="row cypher-list" th:if="${hasGameStarted == true}">
            <div class="center-elements">
                <h2>Kam dál?</h2>
                <a th:if="${hasGameEnded == false and stamps != allStagesCount}" class="btn btn-primary btn-square-md" th:href="@{/pop/stamp}">Získat razítko</a>
                <a th:if="${stamps == allStagesCount}" class="btn btn-primary btn-square-md" th:href="@{/pop/diplom}">Stáhnout diplom</a>
<!--                <a class="btn btn-primary btn-square-md" th:href="@{/pop/progress}">Můj postup</a>-->
                <a class="btn btn-primary btn-square-md" th:href="@{/pop/progress2}">Můj pochod</a>
<!--                <a class="btn btn-primary btn-square-md" th:href="@{/pop/stages}">Stanoviště</a>-->
                <a class="btn btn-primary btn-square-md" th:href="@{/pop/map}">Mapa</a>
                <a class="btn btn-primary btn-square-md" th:href="@{/pop/partners}">Partneři</a>
                <a class="btn btn-primary btn-square-md" th:href="@{/pop/feedback}">Feedback</a>
            </div>
        </div>
        <div class="row cypher-list" th:if="${hasGameStarted == false}">
            <div class="center-elements col-centered">
                <h2 th:text="|Začínáme ${#temporals.format(gameStartedTime, 'dd.MM.yyyy HH:mm')}|"></h2>
                <h2>Sledujte náš <a class="fb-icon" href="https://www.facebook.com/events/411855370753844">
                    <i class="fab fa-facebook"></i>
                </a>
                    nebo <a href="https://pochod.valasskapolanka.cz">WEB</a></h2>

            </div>
        </div>
    </div>
</body>
<footer>
    <div th:insert="fragments/pop-footer :: popFooter()"></div>
</footer>
</html>
