<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" style="height:100%">
<head th:replace="fragments/head :: head('2024')">
</head>
<body>
    <div th:insert="fragments/pop-title :: popTitle(2024)"></div>
    <div class="login-page-body">
        <div class="container login-form-container">
            <div class="row cypher-list">
                <div class="col-sm-12">
                    <h2 class="login-form-header">Chyba, tady nic nenajdeš...</h2>
                    <a href="#" class="btn btn-primary" th:href="@{/successfulLogin}">Domů</a>
                </div>
            </div>
            <div class="row cypher-list">
                <div class="col-sm-12">
                    <img src="/img/bota-large.jpg" alt="PoP" class="img-billy"/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>